
body {
    background-color: #d3d3d3; 
    font-family: Arial, sans-serif;
    color: #800000; 
    margin: 5;
    padding: 5;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2.5em;
}

/* Botões */
.btn-container {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    background-color: #800000; 
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #a52a2a; 
}

/* Foto */
.photo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #800000; 
}

/* Seções */
section {
    margin: 50px 20px;
}

h2 {
    font-size: 2em;
    text-align: center;
    
}

ul {
    list-style-type: none;
    padding: 0;
    
    
}

ul li {
    margin: 10px 0;
}

.project {
    margin-bottom: 30px;
}

.project h3 a {
    color: #800000;
    text-decoration: none;
}

.project h3 a:hover {
    text-decoration: underline;
    
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

footer p a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

.subtitulo {
    font-size: 0.6em; 
    font-weight: normal; /* tira o bold */
    display: block; /* força ficar embaixo, tipo uma linha só */
    margin-top: 10px; 
}

#articles-section ul li a {
    color: #800000; 
    text-decoration: none; /*para tirar o sublinhado. o underline volta o sublinhado */
}

#articles-section ul li a:hover {
    color: #a52a2a; 
    text-decoration: underline; 
}

.project h3 {
    display: flex;          /*flexbox alinha e facilita a distribuiçao dos intens*/
    align-items: center;    
    justify-content: flex-start; 
}

.project h3 a {
    text-decoration: none;  
    color: #800000;         
    font-size: 1.5em;       
}

.project-logo img {
    width: 100px;            
    height: auto;           
    margin-left: 10px;      
}
